:root {
  --text-primary-color: #444851;
  --button-gray: #d1d6da;
  --background-color: #f6f8f9;
  --button-blue: #47adf1;
  --button-purple: #9c72e4;
  --button-aquamarine: #64c0a9;
  --button-orange: #f29e33;
  --button-pink: #d863a0;
  --button-lime: #b0c926;
  --simbol-check: #69c2ac;
  --simbol-cross: #ef6c64;
}

body {
  margin: 0;
  background-color: var(--background-color); 
}

header {
  display: block;
  background-color: white;
  text-align: middle;
  padding-block: 1rem;
}

header img,
header h1 {
  display: inline-block;
  vertical-align: middle; /* centra verticalmente */
}

header img {
  margin-left: 2rem;
}

header h1 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: lightblue;
}