:root {
  --text-primary-color: #444851;
  --button-gray: #d1d6da;
  --background-color: #f6f8f9;
  --button-blue: #47adf1;
  --button-purple: #9c72e4;
  --button-aquamarine: #64c0a9;
  --button-orange: #f29e33;
  --button-pink: #d863a0;
  --button-lime: #b0c926;
  --simbol-check: #69c2ac;
  --simbol-cross: #ef6c64;
}

body {
  margin: 0;
  background-color: var(--background-color); 
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: block;
  background-color: white;
  text-align: middle;
  padding-block: 1rem;
}

header img,
header h1 {
  display: inline-block;
  vertical-align: middle; /* centra verticalmente */
}

header img {
  margin-left: 2rem;
}

header h1 {
  font-size: 3rem;
  margin: 0;
}

main {
  background-color: white;
  border-radius: 8px;
  width: 75%;
  margin: 0 auto;
  margin-top: 4rem;
  padding-inline: 3.4rem;
  padding-block: 1.5rem;
}

.button-add-task,
.button-add-section {
  border-radius: 7px;
  height: 35px;
  padding-inline: 12px;
  border: 1px solid;
  font-weight: bold;
}

.button-add-task {
  background-color: var(--button-blue);
  border-color: var(--button-blue);
  color: white;
}

.button-add-section {
  background-color: transparent;
  border-color: var(--button-gray);
  color: var(--button-gray)
}