:root {
  --text-primary-color: #444851;
  --button-gray: #d1d6da;
  --background-color: #f6f8f9;
  --button-blue: #47adf1;
  --button-purple: #9c72e4;
  --button-aquamarine: #64c0a9;
  --button-orange: #f29e33;
  --button-pink: #d863a0;
  --button-lime: #b0c926;
  --simbol-check: #69c2ac;
  --simbol-cross: #ef6c64;
}

body {
  margin: 0;
  background-color: var(--background-color); 
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}

main {
  width: 70%;
  margin: auto;
}

header {
  display: block;
  background-color: white;
  text-align: middle;
  padding-block: 1rem;
  margin-bottom: 4rem;
}

header img,
header h1 {
  display: inline-block;
  vertical-align: middle; /* centra verticalmente */
}

header img {
  margin-left: 2rem;
}

header h1 {
  font-size: 3rem;
  margin: 0;
}

#section-1,
#section-2 {
  background-color: white;
  padding-inline: 4.4rem;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  margin-bottom: 2px;
}

#section-1 {
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}

#section-2 {
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.button-add-task,
.button-add-section {
  border-radius: 7px;
  height: 35px;
  padding-inline: 16px;
  border: 1px solid;
  font-weight: bold;
  font-size: 16px;
}

.button-add-task {
  background-color: var(--button-blue);
  border-color: var(--button-blue);
  color: white;
}

.button-add-section {
  background-color: transparent;
  border-color: var(--button-gray);
  color: var(--button-gray)
}

.task-session {
  margin-bottom: 3rem;
}

.task-session div {
  margin-block: 20px;
}

.task-session h1 {
  font-size: 28px;
  font-weight: 900;
}

.task-session div {
  font-size: 24px;
}

.task-status {
  display: inline-block;
  width: 24px;          
  height: 24px;        
  border: 1px solid;
  border-radius: 100%;
  text-align: center;   
  font-weight: bold;
  margin-right: 0.6rem;
  font-size: 18px;
}

.sign-check {
  border-color: var(--simbol-check);
  color: var(--simbol-check);
}

.sign-cross {
  border-color: var(--simbol-cross);
  color: var(--simbol-cross);
}

.task-bubble {
  border-radius: 14px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0.3rem;
  padding: 0.6rem 1rem;
}

.editorial {background-color: var(--button-blue);}
.sales {background-color: var(--button-lime);}
.website {background-color: var(--button-purple);}
.mobile {background-color: var(--button-orange);}
.recruiting {background-color: var(--button-aquamarine);}
.q1-goals {background-color: var(--button-pink);}